<p>Hi <%= @to_email %></p>
<p>
  I am <%= @from_user.display_name %>,
  and want to challenge you: <%= @goal_session.goal_detail_name %>, waiting you on <a href='http://google.com.vn'>Goal Performance App!</a>
</p>
<p>Regards,<br><%= @from_user.display_name %></p>
