params_permitted:
  user: [ "display_name", "email", "avatar_url", "token", "first_name", "last_name", "birthday", "phone_number", "latitude", "longitude" ]
  goal: [ "name", "start_at", "repeat_every", "duration", "is_challenge", "is_default", "category_id"]
  
  friendship: ["friend_id", "blocker_id"]
  
  category: ["name"]

default_avatar: "https://s9.postimg.org/ub0hzcfdr/default_avatar.jpg"

default_goal_categories:
  - Swim
  - Run
  - Read
  - Mediate
  - Draw

goals:
  repeat_every: ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
  colors:
    swim: "#0589FC"
    run: "#FF7300"
    read: "#D900FF"
    mediate: "#7299A8"
    draw: "#F76DD2"
  default_category_color: "#3BB351"
